<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gemini.ringer_mode"
    android:versionCode="4"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="4"
              android:targetSdkVersion="29" />
    <!-- Not allowed to change Do Not Disturb state. -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <application android:icon="@drawable/blank">
        <activity android:name=".RingerNormalActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:label="Normal Ringer Mode"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".RingerNormalActivity" />
            </intent-filter>
        </activity>
        <activity android:name=".RingerVibrateActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:label="Vibrate Ringer Mode"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".RingerVibrateActivity" />
            </intent-filter>
        </activity>
        <activity android:name=".RingerSilentActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:label="Silent Ringer Mode"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".RingerSilentActivity" />
            </intent-filter>
        </activity>
    </application>
</manifest>
