<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gemini.ringer_mode"
    android:versionCode="2"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="4" />
    <application android:icon="@drawable/blank">
        <activity android:name=".RingerNormalActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:label="Normal Ringer Mode"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".RingerNormalActivity" />
                <action android:name="android.intent.action.MAIN" /> 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RingerVibrateActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:label="Vibrate Ringer Mode"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".RingerVibrateActivity" />
                <action android:name="android.intent.action.MAIN" /> 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RingerSilentActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:label="Silent Ringer Mode"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name=".RingerSilentActivity" />
                <action android:name="android.intent.action.MAIN" /> 
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
